.main_que_container{
    margin: -28% auto;
    position: relative;
    z-index: 5;
}

.hi_text{
    font-size: 1.5vw;
}

.question{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 2.5vw;
}


.wrapper{
  display: inline-flex;
  background: #e1cec3;
  height: 100px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #9d613f;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #9d613f;
  background: #9d613f;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}

  
  .arrow {
    cursor: pointer;
    position: relative;
    display: block;
    margin: 30px auto;
    width: 70px;
    height: 70px;
    border: solid 6px #999;
    border-radius: 100%;
    z-index: 1;
    transition: all 0.2s linear;
  }
  .arrow:before, .arrow:after {
    content: "";
    position: absolute;
    width: 35%;
    height: 10%;
    top: 41%;
    left: 55%;
    background: #999;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.2s linear;
  }
  .arrow:after {
    z-index: 3;
    top: 59%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .arrow:hover {
    border: solid 7px #9d613f;
  }
  .arrow:hover:after, .arrow:hover:before {
    background: #9d613f;
  }
  .arrow:active {
    border: solid 8px #111;
  }
  .arrow:active:after, .arrow:active:before {
    background: #111;
  }


















  :where(.css-dev-only-do-not-override-17a39f8).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: #ffffff !important;}
  .animate__animated.animate__slideInUp {
      --animate-duration: 2s;
  }
  .ant-select-focused .ant-select-selector,
  .ant-select-selector:focus,
  .ant-select-selector:active,
  .ant-select-open .ant-select-selector {
    border-color: #d9d9d9 !important;
    box-shadow: none !important;
  }
  .ant-select:hover .ant-select-selector {
    border-color: #fffefe !important;
    box-shadow: none !important;
  }


  .checkboxdiv {
    background: azure;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
  }

  :where(.css-dev-only-do-not-override-17a39f8).ant-checkbox .ant-checkbox-inner{

    height: 26px !important;
    width: 26px !important;
  }

  :where(.css-dev-only-do-not-override-17a39f8).ant-checkbox .ant-checkbox-inner:after{
    width: 9.714286px !important;
    height: 15.142857px !important;
  }

  :where(.css-dev-only-do-not-override-17a39f8).ant-checkbox-checked .ant-checkbox-inner {
    background-color: #e1cec3 !important;
    border-color: #e1cec3 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color:#784024 !important;
  border-color: #784024 !important;
}.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner {
  border-color: #784024 !important;
}
.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color:#784024 !important;
}

